@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('../images/background3.jpg') no-repeat center/cover; */
}

.gradient-bg-welcome {

  background-image: url('D:\Buy Me a Coffee\client\images\background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient-bg-services {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 100%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #65df84;
  background-image:
    radial-gradient(at 83% 67%, rgb(67, 185, 72) 0, transparent 58%),
    radial-gradient(at 67% 20%, rgb(149, 112, 251) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, rgb(95, 172, 216) 0, transparent 52%),
    radial-gradient(at 27% 71%, rgb(174, 85, 247) 0, transparent 49%),
    radial-gradient(at 74% 89%, rgb(248, 149, 109) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

.gradient-bg-footer {
  background-color: #151729;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 53%),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color: #65df84;
  background-image:
    radial-gradient(at 83% 67%, rgb(67, 185, 72) 0, transparent 58%),
    radial-gradient(at 67% 20%, rgb(149, 112, 251) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, rgb(95, 172, 216) 0, transparent 52%),
    radial-gradient(at 27% 71%, rgb(174, 85, 247) 0, transparent 49%),
    radial-gradient(at 74% 89%, rgb(248, 149, 109) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

.eth-card1 {
  background-color: #078627;
  background-image:
    radial-gradient(at 83% 67%, rgb(20, 112, 24) 0, transparent 58%),
    radial-gradient(at 53% 75%, rgb(25, 153, 140) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;